PROVISIONER_SSH_PRIVATE_KEY_PATH = "path/to/provisioner/private/key"
CLOUDLAB_CONTEXT_PATH = "path/to/cloudlab/context.json"

SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USERNAME="your.email@gmail.com"
SMTP_PASSWORD="your-app-password"

PROVISIONER_SSH_PRIVATE_KEY_PATH="/path/to/provisioner_ssh_private_key"
PROVISIONER_SSH_PUBLIC_KEY_PATH="/path/to/provisioner_ssh_public_key"

CLOUDLAB_CERT_PATH="/path/to/cloudlab.pem"
CLOUDLAB_KEY_PATH="/path/to/cloudlab_decrypted.pem"
CLOUD_PROJECT_NAME="your-cloudlab-project-name"